<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">
    <div fxLayout="row wrap">

<!--      <div
      *ngFor="let gauge of gauges"
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;">-->
      
      <div
      *ngFor="let gauge of gauges | async"
      
      fxLayout="column"
      style="padding: 5px;">

      <!--<div *ngIf='gauge.heating'>-->
     
        
         <!--[style.width.px]='imageWidth'
         [style.margin.px]='imageMargin'>-->
         
     <!--
      <google-chart #chart
        [title]="title"
        [type]="type"
        [data]="gauge.labels"
        [options]="gauge.options">
      </google-chart>
    -->
      <img  [src]='flameLocation'>
    </div>
  </div>
</div>